/error.log
/rms_cake_core_cake_eng
/rms_cake_core_cake_dev_eng
/rms_cake_core_cake_console_eng
/rms_cake_core_cake_dev_en-us
/rms_cake_core_cake_en-us
/rms_cake_core_default_en-us
/rms_cake_core_default_eng
/rms_cake_core_file_map
/rms_cake_core_method_cache
